.footer {
    background: #D2D2D2;
    text-align: center;
    padding: 20px 16px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 50px;
    line-height: 170%;
}

.footer a {
    color: #000;
    text-decoration: underline;
}